# URL do banco de dados hosteado na nuvem
DATABASE_URL=

# Configurações do broker MQTT
# Utilizado para a comunicação entre a aplicação e os dispositivos Arduino
MQTT_BROKER_URL=
MQTT_BROKER_USERNAME=
MQTT_BROKER_PASSWORD=

# Porta do backend
PORT=3000